/* SPDX-License-Identifier: GPL-3.0-or-later */

.system-usage-panel {
  spacing: 0.25em;
}

.system-usage-label {
  text-align: center;
}

.system-usage-icon {
  min-width: 1.2em;
}

.system-usage-number.mini-font {
  font-size: 0.82em;
  font-weight: 600;
  min-width: 2.5em;
}

.system-usage-normal .system-usage-label {
  color: #ffffff;
}

.system-usage-warning .system-usage-label {
  color: #f8e45c;
}

.system-usage-critical .system-usage-label {
  color: #ff7b63;
}

.system-usage-unknown .system-usage-label {
  color: #c0bfbc;
}
